<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bohan.mapper.ChargeMapper">
  <resultMap id="BaseResultMap" type="com.bohan.entity.Charge">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="p_id" jdbcType="VARCHAR" property="pId" />
    <result column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, s_id, p_id, c_id, token, amount, `status`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from charge
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from charge
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bohan.entity.Charge">
    insert into charge (id, s_id, p_id, 
      c_id, token, amount, 
      `status`, create_time)
    values (#{id,jdbcType=VARCHAR}, #{sId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}, 
      #{cId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bohan.entity.Charge">
    insert into charge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="cId != null">
        c_id,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bohan.entity.Charge">
    update charge
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bohan.entity.Charge">
    update charge
    set s_id = #{sId,jdbcType=VARCHAR},
      p_id = #{pId,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from charge
  </select>

  <select id="queryByCourseId" resultType="java.lang.String">
    select id
    from charge
    where c_id = #{courseId, jdbcType=VARCHAR} and status = '1'
  </select>
  
  <update id="cancelCharge" parameterType="java.lang.String">
    update charge
    set `status` = '3'
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="triggerCharge" parameterType="java.lang.String">
    update charge
    set `status` = '2'
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="queryById"  resultType="com.bohan.entity.Charge">
    select *
    from charge
    where id = #{id,jdbcType=VARCHAR}
  </select>

</mapper>